<section id="desc" name="desc"></section>
<!-- INTRO WRAP -->
<div id="login" class="span7">
    <div class="container">
        <div class="row-fluid">

            <div class="span12 text-center margin-top" id="form-login">
                <form class="form-horizontal well">
                    <fieldset>

                        <div class="control-group">

                                <label class="control-label">Username</label>

                            <div class="controls">
                                <input type="text" id="user_email" placeholder="john.doe@youremail.com" class="input-large span10" size="30">
                            </div>
                        </div>

                        <div class="control-group">

                                <label class="control-label">Password</label>

                            <div class="controls">
                                <input type="password" placeholder="type your password" class="input-large span10" size="30">

                                <!-- Help-block example -->
                                <!-- <span class="help-block">Example block-level help text here.</span> -->
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">

                                <button type="submit" id="submit" class="btn btn-primary button-loading" data-loading-text="Loading...">Sign in</button>

                                <button type="button" class="btn btn-secondary button-loading" data-loading-text="Loading...">Forgot Password</button>

                            </div>
                        </div>
                    </fieldset>
                </form>



            </div>

        </div>
    </div>
    <div id="push"></div>
</div>

